html {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100%;
    background: #526060 url("../images/back.jpg") fixed center;
    background-size: cover;
}

.card {
    width: 40%;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
}

ul {
    margin-bottom: 0;
}

.card-header h3 {
    margin-bottom: 0;
}

#error {
    text-align: center;
    color: #c82333;
}

.vertical-center {
	  display: flex;
 	  align-items: center;
}