html {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;

    background: #526060 url("../images/back.jpg") fixed center;
    background-size: cover;
}

.jumbotron {
    background: rgba(227, 232, 234, 0.8);
    min-height: 500px;
    height: auto;
    width: 82%;
    margin: 0 auto;
    margin-bottom: 0;
    padding-bottom: 1%;
    margin-top: 70px;
}

table thead tr {
    text-align: center;
}

#gPdf {
    text-align: right;
}