<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Kalkulator</title>
    <script src="vendors/jquery.js"></script>
    <script src="vendors/js/bootstrap.min.js"></script>
    <link href="vendors/css/bootstrap.min.css" rel="stylesheet">
    <script src="vendors/fontawesome/fontawesome-all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="calculator_styles.css">

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1><i class="fas fa-car"></i> Kalkulator krajowej podróży służbowej</h1>
            <hr>
            <div class="content">
                <form method="POST">

                    <div class="form-group">
                        <label for="descr">Opis</label>
                        <textarea name="descr" id="descr" class="form-control" placeholder="krótki opis sporządzanych obliczeń"></textarea>
                    </div>

                    <!--                slajder z dietami-->
                    <label id="togglePaysArrow">Diety <span id="payArrow"><i class="fas fa-caret-up"></i></span></label>
                    <hr>
                    <div id="togglePays" class="slidersStyle">
                        <div class="form-group">
                            <label>Data i godzina wyjazdu</label>
                            <div class="form-inline">
                                <input name="leaveDate" type="date" id="leaveDate" class="form-control">
                                <input name="leaveTime" type="time" id="leaveTime" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Data i godzina przyjazdu</label>
                            <div class="form-inline">
                                <input name="arriveDate" type="date" id="arriveDate" class="form-control">
                                <input name="arriveTime" type="time" id="arriveTime" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="pay">Wysokość diety za dobę podróży</label>
                            <input name="pay" type="text" id="pay" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Koszt zapewnionego bezpłatnego wyżywienia zmniejszający diety</label>
                            <div class="form-inline">
                                <input name="breakfast" type="text" id="breakfast" class="form-control" placeholder="śniadania">
                                <input name="dinner" type="text" id="dinner" class="form-control" placeholder="obiady">
                                <input name="supper" type="text" id="supper" class="form-control" placeholder="kolacje">
                            </div>
                        </div>
                    </div>
                    <!--                koniec slajderka z dietami-->

                    <!--               slajderek z kosztami przejazu-->
                    <div>
                        <label id="toggleTransportArrow">Zwrot kosztów przejazdu
                            <span id="transportArrow">
                                <i class="fas fa-caret-down"></i>
                            </span>
                        </label>
                    </div>
                    <hr>
                    <div id="toggleTransport" class="slidersStyle">
                        <div class="form-group">
                            <label for="transType">Rodzaj środka transportu</label>
                            <input name="transType" type="text" id="transType" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="ticketPrice">Cena biletu za przejazd</label>
                            <input name="ticketPrice" type="text" id="ticketPrice" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Przejazd niebędącym własnością pracodawcy</label>
                            <ul>
                                <li>
                                    Samochodem osobowym
                                    <ul>
                                        <li>
                                            O pojemności do 900ccm
                                            <input name="ovCcm" type="text" id="ovCcm" class="form-control">
                                        </li>
                                        <li>
                                            O pojemności pow. 900ccm
                                            <input name="unCcm" type="text" id="unCcm" class="form-control">
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Motocylem
                                    <input name="motorcycle" type="text" id="motorcycle" class="form-control">
                                </li>
                                <li>
                                    Motorowerem
                                    <input name="motBicycle" type="text" id="motBicycle" class="form-control">
                                </li>
                            </ul>

                        </div>
                    </div>

                    <!--                koniec slajderka z kosztami przejazdu-->

                    <!--               slajderek z noclegami-->
                    <div>
                        <label id="toggleSleepArrow">Koszt noclegów
                            <span id="sleepArrow">
                                <i class="fas fa-caret-down"></i>
                            </span>
                        </label>
                    </div>
                    <hr>
                    <div id="toggleSleep" class="slidersStyle">

                        <div class="form-group">
                            <label for="lumpSum">Liczba noclegów za które przysługuje ryczałt</label>
                            <input name="lumpSum" type="text" id="lumpSum" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="sleepBill">Koszt noclegów stwierdzony rachunkiem</label>
                            <input name="sleepBill" type="text" id="sleepBill" class="form-control">
                        </div>

                    </div>
                    <!--               koniec slajderka z noclegami-->

                    <!--               slajderek ze srodkami komunikacji miejscowej-->
                    <div><label id="toggleLocalArrow">Dojazdy środkami komunikacji miejscowej<span id="localArrow"><i class="fas fa-caret-down"></i></span></label></div>
                    <hr>
                    <div id="toggleLocal" class="slidersStyle">

                        <div class="form-group">
                            <label for="pLumpSum">Ilość dób, za które przysługuje ryczałt za dojazdy</label>
                            <input type="text" name="pLumpSum" id="pLumpSum" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="returnPay">Kwota z tytułu zwrotu udokumentowanych kosztów dojazdów</label>
                            <input name="returnPay" type="text" id="returnPay" class="form-control">
                        </div>

                    </div>
                    <!--               koniec slajderka ze srodkami komunikacji miejscowej-->

                    <!--               slajderek z innych dokumentowanych wydatkow-->
                    <div>
                        <label id="toggleSpendsArrow">Zwrot innych udokumentowanych i uzasadnionych wydatków
                            <span id="spendsArrow">
                                <i class="fas fa-caret-down"></i>
                            </span>
                        </label>
                    </div>
                    <hr>
                    <div id="toggleSpends" class="slidersStyle">

                        <button id="addSpend" type="button" class="btn btn-light btn-sm">Dodaj wydatek</button>

                    </div>
                    <!--               koniec slajderka z innych wydatkow-->

                    <!--               poczatek zaliczki-->
                    <div class="form-group">
                        <label for="advance">Zaliczka</label>
                        <input name="advance" type="text" id="advance" class="form-control">
                    </div>
                    <!--               koniec zaliczki-->
                    <hr>
                    <ul class="submitButton">
                        <input type="submit" value="Oblicz" class="btn btn-success btn-lg">
                    </ul>
                </form>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>
