<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8"/>
    <title>Raporty</title>
    <script src="/vendors/jquery.js"></script>
    <script src="/vendors/js/bootstrap.min.js"></script>
    <link href="/vendors/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/vendors/fontawesome/fontawesome-all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/css/manage_styles.css">
</head>
<body>
<th:block th:include="/fragments/navbar :: topbar"></th:block>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <th:block th:include="/fragments/navbar :: sidebar"></th:block>
        </div>
        <div class="col-sm-10">
            <div id="content">
                <table class="table table-hover table-striped table-light">
                    <thead>
                    <tr>
                        <td>Opis</td>
                        <td>Data wyjazdu</td>
                        <td>Data powrotu</td>
                        <td>Do wypłaty</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="report : ${reports}">
                        <td th:text="${report.getReportDescr()}"></td>
                        <td th:text="${report.getReportLeaveTime()}"></td>
                        <td th:text="${report.getReportArriveTime()}"></td>
                        <td th:text="${report.getReportPayment()}"></td>
                        <td><a th:href="@{../calculator/download?(reportId=${report.getId()})}"><i class="fas fa-file-pdf"></i></a></td>
                        <td><a th:href="@{../calculator/result?(reportId=${report.getId()})}">podgląd</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>